[user]
	email = nick@keyclicker.dev
	name = keyclicker
	signingkey = 577CB135713C717B
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[core]
	editor = nvim
[worktree]
	useRelativePaths = true
[init]
	defaultBranch = master
